{% extends 'base.html' %}

{% block title %}
Про проект
{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Склад гурту</h1>
      </div>
    </div>
  </section>

<div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://thumbor.my.ua/BEU2Ov-Hv8co0zxzFHpFtkbVPHw=/192x0/smart/s3.eu-central-1.amazonaws.com/media.my.ua/admin/1c7b8847-08c2-40ac-b80a-ce35c54b3067.jpeg" width="100%" height="400"  focusable="false">
            <div class="card-body">
                <h5 class="text-center">Юрій Каплан</h5><br><p class="text-center fs-4">Соліст, автор текстів та музики</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://images.genius.com/6e622becdc0117800919deb89e7003ab.378x378x1.jpg" width="100%" height="400" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Станіслав Мурашко</h5><br><p class="text-center fs-4">Бас-гітарист</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://cdn-static.i-m-i.ru/imi-static/store/uploads/profile/377/image/main-442250c4b84b35d0f0ff1d0d3ccf5d2d.jpg" width="100%" height="400"  focusable="false">
            <div class="card-body">
                <h5 class="text-center">Костянтин Пижов</h5><br><p class="text-center fs-4">Гітарист</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://images.genius.com/816aac7ec8f6181b2bf4425d16f61d6c.636x636x1.jpg" width="100%" height="400" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Володимир Яковлєв</h5><br><p class="text-center fs-4">Ударні</p>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}