{% extends 'base.html' %}

{% block title %}
Історія гурту
{% endblock %}

{% block body %}
<div class="bg-dark">
    <div>
        <h1 class="text-center text-white p-2">Strykalo band</h1>
        <div class="container marketing bg-light rounded">

            <div class="row featurette pt-3">
                <div class="col-md-7  order-md-2 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Strykalo band</span>
                        <span class="lead"> — український гурт, заснований 2010 року солістом Юрієм Капланом, який здобув популярність після запису серії відеозвернень до зірок шоу-бізнесу від імені наївного провінційного хлопця «Валентина Стрикала з села Бурильцева». Створення гурту стало продовженням інтернет-мема.В травні 2019 року Юрій Каплан повідомив про розпуск групи.</span>
                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://i.ytimg.com/vi/JcY2i8s4C58/maxresdefault.jpg" alt="photo" width="500px" ; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Історія<br></span>
                        <span class="lead">Свій перший ролик – відеозвернення до В'ячеслава Малежика – Юрій Каплан опублікував на YouTube у березні 2008 року, назвавшись «Валентином Стрикало з села Бурильцеве». За словами автора, це відео було знято під враженням від схожого ролика студії My Duck's Vision, в якому Сем Нікель, один з акторів студії, також звертався до В'ячеслава Малежика[4].Згодом Юрій також записав звернення до Тіматі, Діми Білана, Потапа та Насті Каменських, Чаю вдвох, МакSим, Тімбаленду та Сергія Звєрєва. Звернення до переможця Євробачення-2008 Діма Білана на YouTube протягом місяця з дня розміщення переглянули близько 90 000 користувачів, а посилання на відео поширилися по всьому Рунету. Кількість переглядів ролика зі зверненням до Діми Білана перевищила 3 000 000, а зі зверненням до Тіматі — 1 000 000. Загальна кількість переглядів його звернень до зірок естради на YouTube перевищила 9 мільйонів.</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/%D0%92%D0%B0%D0%BB%D0%B5%D0%BD%D1%82%D0%B8%D0%BD_%D0%A1%D1%82%D1%80%D1%8B%D0%BA%D0%B0%D0%BB%D0%BE_%D0%B2_%D0%97%D0%B5%D0%BB%D1%91%D0%BD%D0%BE%D0%BC_%D1%82%D0%B5%D0%B0%D1%82%D1%80%D0%B5_3.jpg" alt="photo" width="500px" ; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">


        </div>
    </div>
    <div class="bg-dark" style="height: 40px"></div>
</div>
{% endblock %}