{% extends 'base.html' %}

{% block title %}
Авторизація
{% endblock %}


{% block body %}
<main class="form-signin text-center d-flex justify-content-center align-items-center" style="height: calc(100vh - 143.91px)">
    <form method="post" style="width: 400px">
        <h1 class="h3 mb-3 fw-normal">Реєстрація акаунту</h1>

        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" name="user_email" placeholder="Email">
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" name="user_password" placeholder="user_password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword_confirm" name="password_confirm" placeholder="Password confirm">
            <label for="floatingPassword_confirm">Підтвердження паролю</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Створити акаунт</button>
    </form>
</main>
{% endblock %}

